{% extends 'base.html' %}

{% block title %}Courses - Spark Solutions{% endblock %}

{% block content %}
    <!-- Courses Listing -->
    <section class="courses-listing service-highlights2 py-5">
        <div class="container">
            <h2 class="text-center mb-4">Our Courses</h2>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card course-card h-100">
                        <div class="card-body">
                            <img src="/static/images/python.png" alt="" srcset="">
                            <h5 class="card-title">Python Basics with OOPs</h5>
                            <p class="card-text">Duration: 20 hrs<br>Fee: ₹200</p>
                            <button class="btn btn-primary">Enroll</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card course-card h-100">
                        <div class="card-body">
                            <img src="/static/images/pythond.jpg" alt="" srcset="">
                            <h5 class="card-title">Data Analysis</h5>
                            <p class="card-text">Duration: 25 hrs<br>Fee: ₹250</p>
                            <button class="btn btn-primary">Enroll</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card course-card h-100">
                        <div class="card-body">
                            <img src="/static/images/hcj.jpg" alt="" srcset="">
                            <h5 class="card-title">HTML, CSS, JS & React</h5>
                            <p class="card-text">Duration: 50 hrs<br>Fee: ₹500</p>
                            <button class="btn btn-primary">Enroll</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card course-card h-100">
                        <div class="card-body">
                            <img src="/static/images/jsdsa.png" alt="" srcset="">
                            <h5 class="card-title">JavaScript with DSA</h5>
                            <p class="card-text">Duration: —<br>Fee: ₹350</p>
                            <button class="btn btn-primary">Enroll</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card course-card h-100">
                        <div class="card-body">
                            <img src="/static/images/node.png" alt="" srcset="">
                            <h5 class="card-title">Node.js</h5>
                            <p class="card-text">Duration: 25 hrs<br>Fee: ₹250</p>
                            <button class="btn btn-primary">Enroll</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card course-card h-100">
                        <div class="card-body">
                            <img src="/static/images/flask.jpg" alt="" srcset="">
                            <h5 class="card-title">Flask</h5>
                            <p class="card-text">Duration: 25 hrs<br>Fee: ₹250</p>
                            <button class="btn btn-primary">Enroll</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-4">
                    <div class="card course-card h-100">
                        <div class="card-body">
                            <img src="/static/images/django.png" alt="" srcset="">
                            <h5 class="card-title">Django</h5>
                            <p class="card-text">Duration: 40 hrs<br>Fee: ₹400</p>
                            <button class="btn btn-primary">Enroll</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card course-card h-100">
                        <div class="card-body">
                            <img src="/static/images/next.webp" alt="" srcset="">
                            <h5 class="card-title">Next.js</h5>
                            <p class="card-text">Duration: 50 hrs<br>Fee: ₹500</p>
                            <button class="btn btn-primary">Enroll</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mb-4">
                    <div class="card course-card h-100">
                        <div class="card-body">
                            <img src="/static/images/python.png" alt="" srcset="">
                            <h5 class="card-title">Video Editing</h5>
                            <p class="card-text">Duration: 10 hrs<br>Fee: ₹600</p>
                            <button class="btn btn-primary">Enroll</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}